<div class="row">
    <h3>Identifiant oublié</h3>
</div>
<div class="row">
    <section class="panneau-accueil panneau-gauche">
        <!-- Pour accéder au service de création de cartes, veuillez vous identifier -->
        <h1 class="panneau-titre"> Authentification</h1>
        <div class="panneau-corps">
            <form name="form" (ngSubmit)="envoyer()" #f="ngForm" novalidate>
                <div class="row ligne">
                    <label style="width: 25%;margin-right: 20px;" id="CorpsCntrl" for="CorpsCntrl">Corps de contrôle <span class="requis">*</span></label>
                        <select style="width: 45%;" (change)="updateATListe($event.target.value)"  [disabled]="listecorpscontrlIsDisabled" [ngClass]="{'disabledClass':listecorpscontrlIsDisabled}">
                            <option *ngFor="let c of listeCorpsControle; let i = index" [ngValue]="c">{{c.Libelle}}</option>
                        </select>
                        <span class="aide-conteneur">
                            <span class="aide"></span>
                            <span class="aide-cadre">Corps de contrôle de l'habilitation</span>
                        </span>
                </div>

                <div class="row ligne">
                    <label style="width: 25%;margin-right: 20px;"  id="AT" for="AT">Affectation territoriale <span class="requis">*</span></label>
                        <select style="width: 45%;"  (change)="OnAffTerrChange($event.target.value)">
                            <option *ngFor="let c of listeAT; let i = index" [ngValue]="c">{{c.Libelle}}</option>
                        </select>
                        <span class="aide-conteneur">
                            <span class="aide"></span>
                            <span class="aide-cadre"> Affectation territoriale de l'habilitation </span>
                        </span>
                </div>
                <div class="row ligne">
                    <label style="width: 25%;margin-right: 20px;" id="labelIdentifiant" for="identifiant">Nom <span class="requis">*</span>  </label>

                    <input id="Nom" name="Nom" type="text" [(ngModel)]="user.Nom" #Nom="ngModel" required
                           (ngModelOptions)="{ updateOn: 'blur', allowInvalid: true }" />
                    <span class="aide-conteneur">
                        <span class="aide"></span>
                        <span class="aide-cadre">saisissez votre Nom </span>
                    </span>
                </div>

                <div class="row ligne">
                    <label style="width: 25%;margin-right: 20px;" id="labelIdentifiant" for="identifiant">Prenom <span class="requis">*</span>  </label>

                    <input id="Prenom" name="Prenom" type="text" [(ngModel)]="user.Prenom" #Prenom="ngModel" required
                           (ngModelOptions)="{ updateOn: 'blur', allowInvalid: true }" />
                    <span class="aide-conteneur">
                        <span class="aide"></span>
                        <span class="aide-cadre">saisissez votre Prenom  </span>
                    </span>
                </div>

                <div class="row ligne">
                    <label style="width: 25%;margin-right: 20px;" id="labelIdentifiant" for="identifiant">Courriel <span class="requis">*</span>  </label>

                    <input id="Courriel" name="Courriel" type="text" [(ngModel)]="user.Courriel" #Courriel="ngModel" required
                           (ngModelOptions)="{ updateOn: 'blur', allowInvalid: true }" />
                    <span class="aide-conteneur">
                        <span class="aide"></span>
                        <span class="aide-cadre">saisissez votre Courriel </span>
                    </span>
                </div>                
               
                <div class="row boutons-bas-de-page centre">
                    <span class="requis">*</span><span class="champ-obligatoire">Champ obligatoire</span>
                    <input id="btnAuthentification" class="bouton bouton-bleu" type="submit" [disabled]="!f.valid" value="Envoyer" />
                </div>
            </form>
        </div>
    </section>
</div>
<div class="row">
    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    <div class="conteneur-message" id="lblErreurPasswordLogin" *ngIf="!loading">{{msgErreur}}</div>
</div>
